# ---------------- Web Server ----------------
- name: Install nginx and deploy web files
  hosts: web
  become: yes

  vars:
    package_name: nginx
    service_name: nginx

  tasks:
    - name: Install nginx
      ansible.builtin.dnf:
        name: "{{ package_name }}"
        state: present

    - name: Start and enable nginx service
      ansible.builtin.systemd:
        name: "{{ service_name }}"
        state: started
        enabled: yes

    - name: Deploy website files to web server
      ansible.builtin.copy:
        src: website/
        dest: /usr/share/nginx/html/
        owner: nginx
        group: nginx
        mode: "0755"